/* variables */
:root {
    --clutch-green: #92D50D;
}

body {
    margin: 0;
    padding: 0;
}

/* header */

header {
    padding: 12px 24px;
    background-color: black;
    color: aliceblue;
}

.header-contents {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo img {
    height: 56px;
    width: auto;
    display: block;
}

.nav-menu {
    display: flex;
    gap: 24px;
    list-style: none;
    margin: 0;
    padding: 0;
}