/* variables */
:root {
    --clutch-green: #92D50D;
    --white-text: #FFFFFF;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--white-text);
}

/* header */

header {
    padding: 12px 24px;
    background-color: black;
}

.header-contents {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo img {
    height: 56px;
    width: auto;
    display: block;
}

.nav-menu-wrapper {
    height: inherit;
}

.nav-menu {
    height: 100%;
    display: flex;
    gap: 24px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.green-glow:hover {
    color: var(--clutch-green);
}