/* variables */
:root {
    --clutch-green: #92D50D;
    --white-text: #FFFFFF;
}

/* generic element tags */ 
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--white-text);
}

/* header */
header {
    padding: 12px 24px;
    background-color: black;
    border-top: 1px solid var(--clutch-green);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-leftside-wrapper {
    display: flex;
    align-items: center;
    gap: 24px;
}

.header-logo img {
    height: 56px;
    width: auto;
    display: block;
}

.nav-menu-wrapper {
    height: inherit;
}

.nav-menu {
    height: 100%;
    display: flex;
    gap: 24px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.green-glow:hover {
    color: var(--clutch-green);
}

.additional-options-wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
}

.divider {
    font-size: x-large;
    color: var(--white-text);
}

@media (max-width: 880px) {
    .hide-on-shrink {
        display: none;
    }
}

@media (max-width: 570px) {
    .hide-on-further-shrink {
        display: none;
    }
}

/* misc. */
.icon {
    color: var(--clutch-green);
}